/* Add a link to GOOGLE FONTS LINK at the top! THis should be the first line of your stylesheet.*/

@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:400,600');
/* ----------------------------------------
Base Styles
------------------------------------------- */

/* Note: Makes sure that padding and the border are included in the width for each element. */

/* Don't add anything else under the * selector! */

* {
  box-sizing: border-box;
}

/*Note: fix so that images will scale with their containers. We'll chat about this more when we cover responsive design*/

img {
  max-width: 100%;
}

body {
  margin: auto;
  max-width: 1000px;
}

/* ----------------------------------------
Typography
------------------------------------------- */

.navbar  {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #7B98AA;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  /* margin: 10px; */
  padding: 10px;
  letter-spacing: 5px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
 a{
	 text-decoration: none;
 }
 .navbar a{
   padding:  5px 15px;

 }
 a:active{
	 color: red;
 }

/* ----------------------------------------
Header
------------------------------------------- */

.main-header {
  background-image: url("../images/home_header_bg.jpg");
  font-family: "Raleway";
  background-size: cover;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 37px;
  color: white;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: auto;

}

/* ----------------------------------------
Articles
------------------------------------------- */

h3 {
  text-align: center;
  font-family: "Raleway";
  text-transform: uppercase;
  font-style: :normal;
}

.OuterDiv {
  display: flex;
}

.prettybox {
  padding: 20px;
  20px;
  text-align: center;
  font-family: "lato";
  font-style: :normal;
  font-weight: 400;
  font-size: 15px;
}

/* ----------------------------------------
About
------------------------------------------- */

.prettybox-1 {
  background-color: #CDF3F6;
  color:  dark gray;
  padding: 20px;
  margin:20px;
  text-align: center;
  font-family: "Raleway";
  font-style: :normal;
  font-weight: 400;
  font-size: 15px;
}

/* ----------------------------------------
Gallery
------------------------------------------- */
/* ----------------------------------------
.issue{
	text-align: center;
	font-family: "Raleway";
	font-weight: 600;
	font-size: 23px;
}

.guide{
	text-align: center;
	font-family: "Raleway";
	font-weight: 600;
	font-size: 18px;
}
----------------------------------------*/
h2{
  text-align: center;
  font-family: "Raleway";
  padding: 10px;
}
.wrapper{
  display:grid;
  grid-template-columns:1fr;
grid-template-rows: auto;
	justify-items: center;
	grid-gap: 5px;

}

.col-1-3{
  width: 30%;
  display: inline-block;
}
.wrapper{
	font-style: "Ralway";
	font-weight: 600;
	font-size: 18px;
	text-align: center;
}
.wrapper > div{
	padding: 1em;
}

/* ----------------------------------------
Footer
------------------------------------------- */
#main-footer {
  background-color: #CDF3F6;
  /* light blue */
  color: gray;
  padding: 20px;
  margin-top: 40px;
  font-family: "Raleway";
  text-align: center;
  font-weight: 600px;
  font-size: 15px;
  letter-spacing: 5px;
  text-decoration: none
}

@media screen and (max-width: 600px) {
  section {
    grid-template-columns: 1fr;
  }
}
